%% @doc the name of the module with the genetic operators and the genetic callback implementation
{genetic_ops, rastrigin_bin_ops}.

%% @doc The size of the problem represented by an agent
{problem_size, 100}.

%% @doc Should we monitor population diversity
{monitor_diversity, false}.
%% @doc Agent initial energy
{initial_energy, 10}.
%% @doc Amount of energy above which agents reproduce
{reproduction_threshold, 11}.
%% @doc Maximal amount of energy given by a parent to its child during reproduction
{reproduction_transfer, 5}.
%% @doc Maximal amount of energy given by the loser to a winner during the fight
{fight_transfer, 10}.

%% @doc How much of a solution should mutate [0,1]
{mutation_rate, 0.1}.
%% @doc How big is the mutation
{mutation_range, 0.05}.
%% @doc The probability to mutate a solution during reproduction
{mutation_chance, 0.75}.
%% @doc The probability to recombine parent solutions during reproduction
{recombination_chance, 0.3}.

%% @doc The size of the fight arena
{fight_number, 2}.
