%% @doc Island topologies (ring, mesh)
{topology, mesh}.

%% @doc The default path to write the logs to (the folder must exist). The standard_io atom cause the logs to be sent to the standard output
{log_dir, standard_io}.

%% @doc The number of islands
{islands, 4}.
%% @doc The initial size of an island's population
{population_size, 100}.

%% @doc How often the logs are writen to output (in milliseconds)
{write_interval, 1000}.
%% @doc How long an arena should wait for agents to come before raising an error (in milliseconds or the atom infinity)
{arena_timeout, 5000}.

%% @doc Number of workers used in skel map skeleton
{skel_workers, 4}.
